@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@600&family=Major+Mono+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Hind Madurai', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100%;
  height: 100vh;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: crimson;
  height: 20%;
  align-items: center;
}

.break,
.session {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  width: 100px;
}

.break .break__label {
  font-size: 30px;
}
.break .break__length {
  font-size: 50px;
}
.break .break__btns {
  display: flex;
  justify-content: space-around;
}
.break .break__btns .break__btn--increment {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.break .break__btns .break__btn--increment:hover {
  background-color: rgb(206, 206, 206);
}

.break .break__btns .break__btn--decrement {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(218, 74, 103);
  color: white;
}

.break .break__btns .break__btn--decrement:hover {
  background-color: rgb(197, 68, 94);
}

.session .session__label {
  font-size: 30px;
}
.session .session__length {
  font-size: 50px;
}

.session .session__btns {
  display: flex;
  justify-content: space-around;
}
.session .session__btns .session__btn--increment {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.session .session__btns .session__btn--increment:hover {
  background-color: rgb(206, 206, 206);
}

.session .session__btns .session__btn--decrement {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(218, 74, 103);
  color: white;
}

.session .session__btns .session__btn--decrement:hover {
  background-color: rgb(197, 68, 94);
}

.timeleft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(189, 18, 52);
  height: 80%;
  align-items: center;
}

.timeleft .timeleft__label {
  font-size: 40px;
  color: white;
}

.timeleft .timeleft__length {
  font-family: 'Major Mono Display', monospace;
  font-size: 15vw;
  width: 100%;
  text-align: center;
  color: white;
}

.timeleft .timeleft__btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

.timeleft .timeleft__btns .timeleft__btn--startstop {
  background-color: rgb(0, 206, 0);
  border: none;
  outline: none;
  padding: 20px 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.timeleft .timeleft__btns .timeleft__btn--startstop:hover {
  background-color: rgb(0, 168, 0);
}
.timeleft .timeleft__btns .timeleft__btn--reset {
  background-color: rgb(172, 16, 47);
  border: none;
  outline: none;
  padding: 20px 40px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.349);
  cursor: pointer;
}

.timeleft .timeleft__btns .timeleft__btn--reset:hover {
  background-color: rgb(150, 16, 43);
}
